profiles {
    docker {
        outputDir           = "/pipeline_output"
        conda.enabled       = true
        conda.useMicromamba = true
        process {
            withLabel: multiThread {
                cpus = 6
            }
            withName: '!FastQC' {
                memory = '2 GB'
            }
            conda = "/env"
        }
    }
}
