profiles {
    docker {
        outputDir           = "/pipeline_output"
        report.enabled      = true
        conda.enabled       = true
        conda.useMicromamba = true
        process {
            withLabel: multiThread {
                cpus     = 6
                maxForks = 1
            }
            withName: '!FastQC' {
                memory = '2 GB'
            }
            conda = "/env"
        }
    }
}
