outputDir = '.'
workflow.output.mode = 'copy'

report.enabled = true
trace.enabled = true
trace.raw = true

params.null_file = "${projectDir}/resources/null.file"
params.adapters = "${projectDir}/resources/adapters_nextera_trimmer.fa"

profiles {
    local {
        conda.enabled = true
        process {
            withLabel: multiThread {
                cpus = 2
            }
            withName: '!FastQC' {
                memory = '2 GB'
            }
            conda = "${baseDir}/../../envs/aiv"
        }
    }
    bivfe {
        conda.enabled = true
        process {
            withLabel: multiThread {
                cpus = 10
            }
            errorStrategy = 'finish'
            conda = '/conda_envs/biv/imp'
            clusterOptions = '-W sandbox=private -W umask=002'
        }
        executor.name = 'pbspro'
        executor.jobName = { "${task.tag}_${task.process}" }
    }
    bivfe_develop {
        conda.enabled = true
        process {
            withLabel: multiThread {
                cpus = 10
            }
            errorStrategy = 'finish'
            conda = '/pbs/scratch/biv/edoardo/envs/imp_develop'
            clusterOptions = '-W sandbox=private -W umask=002'
        }
        executor.name = 'pbspro'
        executor.jobName = { "${task.tag}_${task.process}" }
    }
}
