conda.enabled = true
report.enabled = true
trace.enabled = true
trace.raw = true

params.null_file = "${projectDir}/resources/null.file"
params.adapters = "${projectDir}/resources/adapters_nextera_trimmer.fa"

profiles {
    local {
        process {
            withLabel: multiThread {
                cpus = 2
            }
            withName: '!FastQC' {
                memory = '2 GB'
            }
            conda = "${baseDir}/../../envs/aiv"
        }
    }
    bivfe {
        process {
            withLabel: multiThread {
                cpus = 10
            }
            errorStrategy  = 'finish'
            conda          = "/conda_envs/biv/imp"
            clusterOptions = '-W sandbox=private -W umask=003'
        }
        executor.name = 'pbspro'
    }
}
