outputDir = '.'
workflow.output.mode = 'copy'

params.null_file = "${projectDir}/resources/null.file"
params.adapters = "${projectDir}/resources/adapters_nextera_trimmer.fa"
params.raw_reads_pattern = "*_R{1,2}*fastq.gz"
params.virus = "Others"
params.run_name = "run"

includeConfig 'profiles.config'
